
li{
    padding: 10px;
    width: 100%;
    margin: 0%;
    color: white;
}

li{
    transition: background-color 1s ease;
}
li:hover{
    color: rgb(26, 26, 26);
    background-color: white;
}

.active-song {
    color: black;
    background-color: white;
}