.player{
    position:relative;
    margin:0 auto;
    max-width:800px;
    width:100%;
}

.player-controls{

}

.player-controls-buttons{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}