.button{
    opacity: 1;
    outline: none;
    border: none;
    background: transparent;
}
.button:hover{
    opacity: 0.5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.fa-heart:hover{
    color: red;
}

.fa-repeat:hover{
    color: white;
}

.fa-random:hover{
    color: white;
}

.fa-volume-up:hover{
    color: white;
}
