@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css');

.player-container {
    display: grid;
    grid-template-columns: 300px 400px;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.box-shadow {
    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}

.player {
    width: 100%;
    height: 500px;
}

.player__header {
    height: 40%;
    width: 100%;
    background: rgb(210, 216, 216);
    overflow: hidden;
}

.player__track-management {
    height: 60%;
    width: 100%;
    background: rgb(26, 26, 26);

}

.control__play {
    color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.control__play i {
    color: white;
    font-size: 40px;
    margin: 0 auto;
}

.control__change-song {
    color: white;
    font-size: 18px;
    margin: 0 auto;
}

.control__small i {
    color: rgb(81, 81, 81);
    font-size: 15px;
    margin: 0 auto;
    padding: 30px;
}

@media screen and (max-width: 600px) {
    .player-container {
        margin: 0;
        grid-template-columns: 300px;
    }
}

@media screen and (max-width: 480px) {
    .player-container {
        grid-template-columns: 100%;
    }
}

.fa-heart:hover {
    color: red;
}

.fa-repeat:hover {
    color: white;
}

.fa-random:hover {
    color: white;
}

.fa-volume-up:hover {
    color: white;
}
