.form-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

form{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

button{
    height: 50%;
    align-self: center;
    width: 100%;
}